*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 600vh;
    background:-webkit-radial-gradient( top , rgba(87, 164, 236, 0.825) , rgb(33, 80, 101))
}
header{
    position: fixed;
    width: 100vw;
    height: 40px;
}
li{
    display: inline;
    margin-right: 50px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(43, 226, 83);
}
a:hover{
    color: rgba(215, 28, 28, 0.597);
}
.home{
    width: 60vw;
    height: 600vh;
    margin: auto;
    background-color:  rgba(87, 164, 236, 0.077);
}
.home-overlay{
    width: 60vw;
    height: 100vh;
    background-image: url(../images/♡.jpg);
    background-size: cover;
}
main{
    width: 60vw;
    margin: auto;
    height: 500vh;
}
.home-lis1{
    float: left;
    margin-left: 120px;
    margin-top: 100px;
    width: 10vw;
    height: 200px;
    background-color: rgb(229, 69, 69);
    transition: all 5s;
}
.home-lis1:hover{
    background-color: blue;
    transition: all 5s;
    opacity: 0.6;
}
/* ////////////////////////////////////////////////////////////////////// */